.App {
  text-align: center;
  max-width:100vw;
  width:100%;
  overflow:hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background: url(./assets/cakeBg.jpg);
  background: fixed;
  position:center;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.background-image{
  position: fixed;
  left:0;
  top:0;
  min-width: 1440px;
  width:100vw;
  height: 100vh;
  max-width: 100vw;
  z-index:-1;
}

.jumbotron{
  min-height:100vh;
  width:100vw;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 0 !important;margin:0 !important;
}

.weds{
  font-family: 'Bilbo Swash Caps', cursive !important;
    font-family: 'Monsieur La Doulaise', cursive !important;
    font-family: 'Niconne', cursive !important;
}

.balaWedsKani{
  color: rgb(7, 46,46);
  font-size: 6.5rem;
  /* width:800px; */
  text-align: left;
  font-family: 'Niconne', cursive;
  margin-bottom: 0px;
  margin-top:0;
}
.togetherWithFamily{
  color: rgb(7, 46, 46);
  /* width: 800px; */
    text-align: left;
    font-family: 'Niconne', cursive;
    margin-block:5px;
    font-size: 27px;
}

.invite__container{
  background-color: rgb(255, 255, 255, 0.3);
  margin-left:5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height:100%;
  min-height:100vh;
  max-width: 100vw;
  padding-inline:  4rem;
  
  flex-direction: column;
}

.main__image{
  margin-top:4rem;
  background-color: white;
  border:1rem solid rgb(7, 46, 46);
  
}

/* weding date container */

.wedding__date{
  background-color:#668961 /* #F7E9E8 */;
  min-height:100vh;
  padding-block: 1rem;
  padding-inline: 3rem;
  width:100vw;
  color: whitesmoke;
  font-family: 'Crimson Text', serif;
  
}

.flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  flex-wrap: wrap;
}

.save__the__date{
font-size: 4rem;

}

.date__heading{
  font-family: 'Niconne', cursive;
}

.date{
  margin-right:10%;
  text-align:left;
}
.date__heading{
  font-size:3rem;
  color: rgb(7, 46, 46);
}
.date__details{
  font-size: 1.5rem;
  color: whitesmoke;
  text-decoration: none;
}
.location,a{
  
  color: whitesmoke !important ;
  
}

.images__container{
  margin-left:10%;
  position:relative;
  z-index:1
}
.seperator{
  height:240px;
  width:1px;
  border:1px solid white;
}
.location__container{
  display: flex;
  align-items: center;
  gap:12px;
  cursor:pointer;
}
.bala-image-animation{
  /* animation: Bala-animation infinite 5s linear; */
}

.picture1{
  position:absolute;
  left:-60px;
  transform: rotate(-20deg);
  
}
.picture2{
  z-index: 1;position: relative;
}
.save__the__date{
  color: rgb(7, 46, 46);
}
.light{
  width:50px;
  height:50px;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  top:42%;
  left:57%;
  z-index:2;
  backdrop-filter: blur(5px);
  animation: Light-animation infinite 1s, Bala-animation infinite 1s;
  border:3px solid black;
  
}

@media (max-width:768px){
  .seperator{
    display: none;
  }
}

@media (max-width:500px){
  .invite__container{
    margin-inline:0;
    width:100%;
    max-width:100vw;
    padding-inline:10px;
    text-align: center;
  }
  .togetherWithFamily{
    text-align: center;
  }
  .weds{
    display: block;
  }
  .balaWedsKani{
    text-align: center;
  }
  .wedding__date{
    padding-inline: 12px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Bala-animation {
  10%{
    transform: rotate(30deg);
  }
    40% {
      transform: rotate(-30deg);
    }
        80% {
          transform: rotate(30deg);
        }
                90% {
                  transform: rotate(-30deg);
                }
                                100% {
                                  transform: rotate(0deg);
                                }
}
@keyframes Light-animation {
  10% {
    opacity: 0;
  }

  40% {
  opacity: 0.3;
  transform: scaleY(1.1);
  transform: scaleX(1.1);
  }

  80% {
    opacity: 0.9;
    transform: scaleY(1.2);
    transform: scaleX(1.2);
  }

  90% {
    opacity: 1;
    transform: scaleY(1.3);
    transform: scaleX(1.3);
  }

  100% {
    opacity: 1;
    transform: scaleY(1.5);
    
  }
}
